
<title>RimuEirnarn - About Me</title>
<div class="card text-white cmain-background mb-3 shadow-lg">
            <div class="card-body">
                <div class="d-flex m-2 mb-5">
                    <img src="static/rimu-enhanced-reduced.png" width="120px" height="120px"
                        class="rounded-circle justify-content-around border border-dark" />
                    <div class="align-self-center m-4">
                        <h4 class="card-title justify-content-around align-self-baseline">RimuEirnarn</h4>
                        <h5 class="card-subtitle justify-content-around align-self-end">Vocational Highschool Student
                        </h5>
                    </div>
                </div>
                <p>I'm RimuEirnarn, second-year vocational highschool student. Taking a domination (of learning) on Python. Attempted to set sail at Web Development, Game Development, and Machine Learning</p>
                <p>I am now a part of a random organization at <a href="https://github.com/Roris-Vardshus">Roris Värdshus</a>.</p>
                <h5><strong><u>Skills</u></strong></h5>
                <p>I frequently uses Python. In other side, i use C/C++, and PHP.</p>
                <p>Tools frequently used:</p>
                <ul>
                    <li>Flask</li>
                    <li>Argh</li>
                    <li>SQLite</li>
                    <li>Bootstrap</li>
                    <li>Laravel (still learning!)</li>
                </ul>
                <p>Languages i learn so far (sorted by frequency)</p>
                <ul>
                    <li>Python</li>
                    <li>PHP</li>
                    <li>C/C++</li>
                    <li>JavaScript</li>
                    <li>Java</li>
                </ul>
            </div>
        </div>
 
