<title>RimuEirnarn</title>

<div class='d-flex'>
    <div class='card-gradient'>
      <div class="text-white card cmain-background card-profile">
        <img class='card-img-top' src="/assets/banner.webp" alt='banner' height='120px'/>
        <div class="card-body">
          <div class="mx-2 height-0">
            <img src="assets/profile.webp" width="120px" height="120px"
              class="rounded-circle justify-content-around border border-dark tr-70" alt="RimuEirnarn's profile picture"/>
          </div>  
          <div class="px-3 mt-5 content">
            <p class='m-0'>RimuEirnarn</p>
            <p class='text-secondary m-0'>@rimueirnarn</p>
            <p class="m-0 ts-09">[object Object] threat, null level</p>
            <p><i class="bi bi-building"></i> <a href="https://github.com/Roris-Vardshus" class="text-decoration-none">Roris Värdshus</a></p>
            <hr>
            <p class='force-badge-dark'>
              <span class="badge bg-warning">Backend</span>
              <span class="badge bg-info">Python</span>
              <span class="badge bg-info">CSS</span>
              <span class="badge bg-info">HTML</span>
              <span class="badge bg-info">SQLite</span>
              <span class="badge bg-info">JavaScript</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="ms-4 w-100 card text-white cmain-background shadow-lg">
        <div class="card-body" id="cardv-main">
            <h3>Welcome to My World!</h3>
            <p>Hey there! I'm RimuEirnarn, a passionate second-year vocational high school student with a knack for all things tech. I've got my sights set on the exciting worlds of Game Development, Backend wizardry, and programming. Follow along as I embark on a journey to bring my digital dreams to life!</p>
        </div>
    </div>
</div>
