<title>RimuEirnarn</title>

<div class='d-flex'>
    <div class="card text-white cmain-background shadow-lg card-profile">
        <img class='card-img-top' src="/assets/banner.webp" alt='banner' height='120px'/>
        <div class="card-body">
            <div class="mx-2 height-0">
                <img src="assets/profile.webp" width="120px" height="120px"
                    class="rounded-circle justify-content-around border border-dark tr-70" alt="RimuEirnarn's profile picture"/>
            </div>  
            <div class="px-3 mt-5">
                <p class='m-0'>RimuEirnarn</p>
                <p class='text-secondary m-0'>@rimueirnarn</p>
                <p class="m-0 ts-09">[object Object] threat, null level</p>
                <hr>
                <p class='force-badge-dark'>
                    <span class="badge bg-warning">Backend</span>
                    <span class="badge bg-info">Python</span>
                    <span class="badge bg-info">CSS</span>
                    <span class="badge bg-info">HTML</span>
                    <span class="badge bg-info">SQLite</span>
                    <span class="badge bg-info">JavaScript</span>
                </p>
            </div>
        </div>
    </div>

    <div class="ms-4 w-100 card text-white cmain-background shadow-lg">
        <div class="card-body">
            <h3>Hello, World!</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et nisi felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam interdum fringilla pharetra. Sed laoreet in leo sed finibus. Proin cursus tristique viverra. In molestie eu tellus at eleifend. Donec auctor nulla nisl, eget ultrices lectus mollis eget. Sed sagittis cursus sem, ut congue risus venenatis at. Nullam orci risus, scelerisque nec volutpat non, fermentum a risus. Praesent aliquet vitae urna quis dignissim.</p>

            <p>Pellentesque placerat quam fringilla porta consectetur. Proin semper feugiat metus, quis pellentesque nunc elementum ac. Ut condimentum purus nec tincidunt commodo. Donec tempor, nunc in maximus tempor, tortor ipsum tempor eros, mattis tincidunt enim odio non velit. Praesent placerat eros sit amet leo aliquet, consequat tincidunt mauris venenatis. Nullam at velit quis purus commodo varius. Sed ut neque aliquet, venenatis arcu nec, interdum urna. Donec non aliquet ipsum, id tempor sapien. Aenean viverra bibendum turpis pellentesque rhoncus. Mauris bibendum lacus vel magna semper tristique. In sed odio lorem. Nulla eget metus sed nisi auctor mattis vitae id odio. Fusce egestas felis non laoreet eleifend. Praesent pellentesque eros vel erat malesuada congue. Phasellus molestie elementum nisl eu ultrices. </p>
        </div>
    </div>
</div>
