<title>RimuEirnarn</title>

<div class='d-flex'>
  <div class="me-4 w-100 card text-white cmain-background shadow-lg">
    <div class="card-body" id="cardv-main">
      <div class="d-flex chat">
      <div class="chat-pfp">
        <img src="assets/profile.webp" width="32px" height="32px"
          class="rounded-circle justify-content-around border border-dark tr-p10" alt="RimuEirnarn's profile picture" />
      </div>
      <div>
        <div class='chat-start'>
          <p>Hi there, I'm RimuEirnarn or RimuAerisya.</p>
          <p>Call me Rimu if you wish.</p>
        </div>
        <div class='chat-mid'>
          <p>I'm a cute things enthusiast and a pretty much happy developer</p>
        </div>
        <div class='chat-mid'>
          <p>Quite good, eh? Anyway, I'm currently a vocational highschool student.</p>
        </div>
        <div class='chat-end'>
          <p>If you want to reach me out, heads up to my instagram page.</p>
          <p>Here you go <a href='https://instagram.com'>https://instagram.com</a></p>
        </div>

      </div>
      </div>
      <div class='mt-auto'>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Type a message" disabled>
          <button type="button" class="btn btn-primary" disabled><i class="bi bi-send"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class='card-gradient'>
    <div class="text-white card cmain-background card-profile">
      <img class='card-img-top' src="/assets/banner.webp" alt='banner' height='120px' />
      <div class="card-body">
        <div class="mx-2 height-0">
          <img src="assets/profile.webp" width="120px" height="120px"
            class="rounded-circle justify-content-around border border-dark tr-70"
            alt="RimuEirnarn's profile picture" />
        </div>
        <div class="px-3 mt-5 content">
          <p class='m-0'>RimuEirnarn</p>
          <p class='text-secondary m-0'>@rimueirnarn</p>
          <p class="m-0 ts-09">[object Object] threat, null level</p>
          <p><i class="bi bi-building"></i> <a href="https://github.com/Roris-Vardshus"
              class="text-decoration-none">Roris Värdshus</a></p>
          <hr>
          <p class='force-badge-dark'>
            <span class="badge bg-warning">Backend</span>
            <span class="badge bg-info">Python</span>
            <span class="badge bg-info">CSS</span>
            <span class="badge bg-info">HTML</span>
            <span class="badge bg-info">SQLite</span>
            <span class="badge bg-info">JavaScript</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
