<script src="/static/js/components/terminal.js">
</script>

<style>
.terminal-tab-close {
  width: 8px;
  height: 8px;
  padding: 8px 0px 0px 2px !important;
  margin-left: 12px;
}
</style>

<title>
  RimuEirnarn - About me (Terminal)
</title>

<div class='card cmain-background mb-3 fade' id="terminal-view">
  <div class='card-header'>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <p class="nav-link active">RimuEirnarn</a>
        <button type="button" class="btn-close terminal-tab-close" disabled aria-label="Close"></button>
      </li>
    </ul>

  </div>
  <div class='card-body'>
    <pre><font color="#55FF55"><b>┌[</b></font>[<font color="#55FF55"><b>NULL</b></font>] [<font color="#FF5555"><b>undefined</b></font>] <font color="#FF55FF"><b id="datetime">19:29:56</b></font><font color="#5555FF"><b> ~</b></font><font color="#55FF55"><b>]</b></font>
<font color="#55FF55"><b>└[rimu]</b></font> $ ./rimueirnarn.sh
=== <font color="#00AA00">Rimu</font><font color="#5555FF">Eirnarn</font> ===

<font color="#AA5500">[object Object]</font> level, <font color="#AA5500">undefined</font> threat.</pre>
  </div>
</div>
